################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
RestfulApiPlaygroundTests/bin
RestfulApiPlayground/obj